RABBITMQ_DEFAULT_USER=user
RABBITMQ_DEFAULT_PASS=password
RABBITMQ_USER=user
RABBITMQ_PASS=password
RABBITMQ_HOST=rabbitmq:5672

RABBITMQ_AUTH_QUEUE=auth_queue
RABBITMQ_FARMS_QUEUE=farms_queue
RABBITMQ_TRACING_QUEUE=tracing_queue

POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=harvestledger

POSTGRES_URI=postgresql://user:password@postgres:5432/harvestledger

PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=password

JWT_SECRET=secret
JWT_REFRESH_SECRET=refresh_secret

S3_REGION=us-east-1
S3_BUCKET=harvestledger-bucket
S3_ACCESS_KEY_ID=''
S3_SECRET_ACCESS_KEY=''

MAIL_SERVICE=gmail
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_SECURE=false
MAIL_IGNORE_TLS=true
MAIL_USER=
MAIL_PASS=

# tracing purposes
PINATA_JWT=
PINATA_GATEWAY=

# admin purposes
ADMIN_MAIL=
ADMIN_PASSWORD=

